# Ejercicios sobre listas

Duplicar elementos de una lista

Descripción: Dada una lista de números, duplica cada elemento en la lista.

In [47]:
lista = [2, 4, 6, 8]

lista_duplicada = lista * 2

print(lista_duplicada)

[2, 4, 6, 8, 2, 4, 6, 8]

Combinar dos listas

Descripción: Dadas dos listas, crea una nueva lista que contenga todos los elementos de ambas listas.

In [10]:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]

lista_combinada = lista1 + lista2

print(lista_combinada)

[1, 2, 3, 4, 5, 6]

Calcular la suma de una lista de números

Descripción: Dada una lista de números, calcula la suma de todos los elementos.

In [11]:
sum(lista_combinada)

21

Encontrar el valor máximo en una lista

Descripción: Dada una lista de números, encuentra el valor máximo.

In [12]:
max(lista_combinada)

6

Calcular la longitud de una lista

Descripción: Dada una lista, calcula la cantidad de elementos que contiene.

In [16]:
len(lista_duplicada)

8

Encontrar el índice de un elemento en una lista

Descripción: Dada una lista y un valor objetivo, encuentra el índice del primer elemento que coincida con el valor objetivo.

In [19]:
lista_duplicada.index(2)

0

Contar ocurrencias de un elemento en una lista

Descripción: Dada una lista y un valor objetivo, cuenta cuántas veces aparece el valor objetivo en la lista.

In [22]:
lista_duplicada.count(8)

2

Obtener una sublista de una lista

Descripción: Dada una lista, crea una nueva lista que contenga los elementos desde el índice 2 hasta el índice 5 (sin incluirlo).

In [36]:
nueva_lista = ['Shakespeare', 'Marlow', 'Kyd', 'Jonson', 'Webster', 'Spenser', 'Heywood', 'Lyly', 'Middleton', 'Fletcher']
lista_nueva_lista = nueva_lista[2:5]
lista_nueva_lista

['Kyd', 'Jonson', 'Webster']

Obtener el último elemento de una lista

Descripción: Dada una lista, obtén el último elemento.

In [26]:
nueva_lista[-1]

'Fletcher'

Obtener una sublista de una lista

Descripción: Dada una lista, obtén una sublista que contenga los elementos desde el índice 1 hasta el índice 3 (sin incluirlo)

In [32]:
nueva_lista[1:3]

['Marlow', 'Kyd']

Reemplazar un elemento en una lista

Descripción: Dada una lista, reemplaza el segundo elemento con un nuevo valor.

In [40]:
nueva_lista[1] = 'Beaumont'
print(nueva_lista)

['Shakespeare', 'Beaumont', 'Kyd', 'Jonson', 'Webster', 'Spenser', 'Heywood', 'Lyly', 'Middleton', 'Fletcher']

Obtener una lista inversa

Descripción: Dada una lista, obtén una nueva lista que contenga los elementos en orden inverso.

In [41]:
nueva_lista_reverse = nueva_lista.copy()
nueva_lista_reverse.reverse()
print(nueva_lista_reverse)

['Fletcher', 'Middleton', 'Lyly', 'Heywood', 'Spenser', 'Webster', 'Jonson', 'Kyd', 'Beaumont', 'Shakespeare']

Ordenar una lista en orden ascendente

Descripción: Dada una lista de números, ordénala en orden ascendente.

In [54]:
lista_duplicada_ordenada = lista_duplicada.copy()
lista_duplicada_ordenada.sort()
print(lista_duplicada_ordenada)

[2, 2, 4, 4, 6, 6, 8, 8]

Obtener una sublista saltando elementos

Descripción: Dada una lista, obtén una sublista que contenga los elementos saltando de 3 en 3.

In [57]:
nueva_lista[0::3]

['Shakespeare', 'Jonson', 'Heywood', 'Fletcher']

Encontrar el segundo valor máximo en una lista

Descripción: Dada una lista de números, encuentra el segundo valor máximo.

In [69]:
print(lista)
print(max(lista))
print(sorted(lista)[-2]) # esto puede dar problemas si hay valores repetidos
print(sorted(set(lista))[-2]) # con set no se permiten elementos duplicados

[2, 4, 6, 8]
8
6
6

Teórico. Debereis contestar la pregunta en una celda de _markdown_.
Descripción: ¿Qué diferencia existe entre el `.sort()` y el `sorted()`

.sort() modifica la lista original, sorted() crea una modificación temporal para la respuesta concreta. Además, la sintaxis es diferente:
- lista.sort()
- sorted(lista)

Agregar elementos a una lista utilizando `append` y `extend`

Descripción: Dada una lista inicial, agrega nuevos elementos utilizando tanto `append` como `extend` y observa las diferencias en el resultado final. 

El elemento que deberéis usar para añadir a la lista original tiene que ser una lista.

In [98]:
nombres = ['Juan']
nombres

['Juan']

In [99]:
nombres2 = ['María', 'Ana', 'Jose', 'Lucía']

In [100]:
nombres.append(nombres2)

In [101]:
nombres

['Juan', ['María', 'Ana', 'Jose', 'Lucía']]

In [102]:
len(nombres)

2

In [104]:
nombres.extend(nombres2)

In [105]:
nombres

['Juan', ['María', 'Ana', 'Jose', 'Lucía'], 'María', 'Ana', 'Jose', 'Lucía']

In [106]:
len(nombres)

6

Insertar un elemento en una posición específica

Descripción: Dada una lista, inserta un nuevo elemento en una posición específica determinada por el usuario (debereis usar la función

_input_ para preguntar al usuario en que posición quiere insertar el elemento).

In [ ]:
lista_3 = [0, 1, 2, 3, 4, 6]
lista_3_arreglada = lista_3.copy()

lista_3_arreglada.insert((int(input("En la lista falta el número 5, ¿en qué posición va? "))), 5)


print(lista_3)
print(lista_3_arreglada)


Verificar si un elemento está presente en una lista

Descripción: Dada una lista, verifica si un elemento específico está presente en ella. Igual que el caso anterior, debereis preguntar al

usuario que elemento quiere buscar en la lista. El resultado deberá ser True o False.

In [125]:
int(input("¿Qué elemento quieres buscar en la lista? ")) in lista_3

False

Manipulación de una lista utilizando `remove()`, `pop()` y `clear()`

Descripción: Crea una lista inicial, realiza operaciones de eliminación y limpieza utilizando los métodos `remove()`, `pop()` y `clear()`, y 

observa cómo afectan a la lista.

In [167]:
lista_inicial = []
while len(lista_inicial) < 10:
    respuesta = input("Dime quiénes son tus escritoras favoritas ")
    lista_inicial.append(respuesta)

In [190]:
lista_inicial2 = lista_inicial.copy()

lista_inicial

['Jane Austen',
 'Charlotte Brontë',
 'Barbara Pym',
 'Penelope Lively',
 'Muriel Spark',
 'Emily Brontë',
 'Virginia Woolf',
 'Sylvia Townsend Warner',
 'Mary Shelley',
 'A. S. Byatt']

In [191]:
lista_inicial2.remove('Muriel Spark')

In [192]:
lista_inicial2

['Jane Austen',
 'Charlotte Brontë',
 'Barbara Pym',
 'Penelope Lively',
 'Emily Brontë',
 'Virginia Woolf',
 'Sylvia Townsend Warner',
 'Mary Shelley',
 'A. S. Byatt']

In [ ]:
lista_inicial2.pop(0)

In [193]:
lista_inicial2.clear()

In [194]:
lista_inicial2

[]

# Ejercicios sobre tuplas

Acceder al primer elemento de una tupla

Descripción: Dada una tupla, obtén el primer elemento.

In [203]:
tupla = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [204]:
type(tupla)

tuple

In [205]:
tupla[0]

0

Acceder al último elemento de una tupla

Descripción: Dada una tupla, obtén el último elemento.

In [206]:
tupla[-1]

9

Obtener la longitud de una tupla
Descripción: Dada una tupla, obtén la cantidad de elementos que contiene.

In [207]:
len(tupla)

10

Concatenar dos tuplas

Descripción: Dadas dos tuplas, crea una nueva tupla que contenga todos los elementos de ambas tuplas.

In [210]:
tupla2 = (9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

In [213]:
tuplest = tupla + tupla2
tuplest

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

Encontrar el índice de un elemento en una tupla

Descripción: Dada una tupla y un valor objetivo, encuentra el índice del primer elemento que coincida con el valor objetivo.

In [226]:
tupli = (4, 7, 8, 7, 7, 7)
tupli.index(8)

2

Contar ocurrencias de un elemento en una tupla

Descripción: Dada una tupla y un valor objetivo, cuenta cuántas veces aparece el valor objetivo en la tupla.

In [227]:
tupli.count(7)

4

Obtener una subtuple de una tupla

Descripción: Dada una tupla, crea una nueva tupla que contenga los elementos desde el índice 1 hasta el índice 3 (sin incluirlo).

In [232]:
subtuplest = tuplest[1:3]
print(subtuplest)

subtupli = tupli[1:3]
print(subtupli)

(1, 2)
(7, 8)

Invertir una tupla

Descripción: Dada una tupla, inviértela en orden.

In [247]:
lista_tupli = list(tupli)
lista_tupli.reverse()
ilput = tuple(lista_tupli)
ilput

(7, 7, 7, 8, 7, 4)